<mat-card>
  <mat-card-content>
    <a routerLinkActive="active"
       class="list-group-item clearfix background"
       [routerLink]="[index]">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{l.location}}</h4>
        <p class="'list-group-item-text">{{l.description}}</p>
      </div>
      <span class="pull-right">
        <img [src]="l.img"
             alt="{{l.location}}"
             class="img-responsive"
             style="max-height: 50px;" />
      </span>
    </a>
  </mat-card-content>
</mat-card>
