<div class="row">
  <div class="col-xs-12">
    <img src={{location.img}} alt={{location.location}} class="img-responsive" style="max-height: 200px" />
  </div>
</div>

<!-- <div *ngFor="let code of flight.codes;let i=index">
  <div class="row">
    <div class="col-xs-12">
      <label>Code: </label> - <p>{{code}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div appDropdown class="btn-group">
        <button type="button" class="btn-group btn-primary dropdown-toggle">
          Manage Bookings <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="book(i)" style="cursor: pointer;">Book Room</a></li>
          <li><a (click)="about()" style="cursor: pointer;">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</div> -->



